<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width,
  initial-scale=1.0">

  <!-- Local stylesheets -->
  <link rel="stylesheet" type="text/css" href="static/stylesheets/style.css">
  <link href="static/stylesheets/app.css" rel="stylesheet" type="text/css">
  <link rel="stylesheet" type="text/css" href="static/stylesheets/cards.css">

  <!-- Google Font -->
  <link rel="preconnect" href="https://fonts.gstatic.com">
  <link href="https://fonts.googleapis.com/css2?family=Dela+Gothic+One&display=swap" rel="stylesheet">

  <!-- Font Awesome Icon Library -->
  <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
  

  <title>RecApp</title>
  <!-- RecApp Icon -->
  <link rel="icon" href="static/images/favicon.ico" type="image/png" />

  <!-- Cloudinary upload widget script-->
  <script src="https://upload-widget.cloudinary.com/global/all.js" type="text/javascript"></script> 
  
</head>

<body>
  <div id="page-wrapper"></div>
   <!-- <h1>HELLO SOUND</h1> -->

    <!-- Header -->
      <section id="header"></section>

  <div class="principal">
    <div class="wrap">
      <!-- RecApp Logo -->
      <h1 class="blink_me"><a class=recapp href="#recapp">RecApp</a></h1>

      <form class="formulario" action="">
        <input type="text" class ="forminput-areas" id ="lookinto" name="lookinto RecAppdb" placeholder="(NAME the file to UPLOAD on Cloudinary)">
        <p>CHOSING THE NAME of the uploaded file is not available yet...!</p>
        <input type="button" class="boton" id="btn-upload" value="Upload file(s) on cloud">
      </form>
      <form class="formulario" action="">
        <input type="text" class ="forminput-areas" id="nameInput" placeholder="Give a FILE NAME">
        <input type="text" class ="forminput-areas" id="audiourlInput" placeholder="Insert here the AUDIO URL for RecApp access">
        <input type="text" class ="forminput-areas" id="imgurlInput" placeholder="Insert here the IMAGE URL for RecApp access">
        <input type="button" class="boton" id="btn-agregar" value="Add this file in RecApp database">
      </form>
      <form class="formulario" action="">
        <input type="text" class ="forminput-areas" id ="ref" name="references" placeholder="File references">
        <input type="button" class="boton" id="btn-load" value="Load RecApp files">
      </form>
    </div>
  </div>

  <div class="tareas">
    <div class="wrap">
      <ul class="lista" id="lista">
       
      </ul>
    </div>
  </div>



  

    <!-- VINYL PLAYER TOOL -->

  <section class="vinyl-wrapper">

      <img class="vinyl-player" src="static/images/vectorplayer.svg" alt="vinyl player image not found"> 

  </section>

  <div class="coverimg-place">
       
  </div>

    <!-- DICTAPHONE TOOL -->

  <div class="dictaphone-bg">
  <div class="dictaphone-wrapper">

    <header>
      <h1>dictaphone</h1>
    </header>

    <section class="main-controls">
      <canvas class="visualizer" height="60px"></canvas>
      <div id="buttons">
        <button class="record">Record</button>
        <button class="stop">Stop</button>
      </div>
    </section>

    <section class="sound-clips">


    </section>

  </div>
  </div> 

  <label for="toggle">❔</label>
  <input type="checkbox" id="toggle">
  <aside>
    <h2>Information</h2>

    <p>Web dictaphone is built using <a href="https://developer.mozilla.org/en-US/docs/Web/API/Navigator.getUserMedia">getUserMedia</a> and the <a href="https://developer.mozilla.org/en-US/docs/Web/API/MediaRecorder_API">MediaRecorder API</a>, which provides an easier way to capture Media streams.</p>

    <p>Icon courtesy of <a href="http://findicons.com/search/microphone">Find Icons</a>. Thanks to <a href="http://soledadpenades.com/">Sole</a> for the Oscilloscope code!</p>
  </aside>

    <!-- PAD TOOL -->
  <div class="pad">
    <iframe id="inlineFrameExample"
     title="RecApp pad"
     width="90%"
     height="500vh"
     src="https://pad.colibris-outilslibres.org/p/RecApp">
    </iframe>
  </div>

  <script src="static/scripts/index.js"></script>
  <script src="static/scripts/app.js"></script>

  <footer class="footer">
    <div>
      <p>Thanks mates ! </br> RecApp 2021</p>
    </div>
  </footer>

</body>
</html>